<div class="resources grid grid-3col">
	<div class="resource flex-group-center">
		<label for="data.derived.hp.current" class="resource-label">{{localize 'FWO.ResourceGP'}}</label>
		<div class="resource-content flexrow flex-center flex-between">
			<input type="text" name="data.gp" value="{{data.gp}}" data-dtype="Number"/>
		</div>
	</div>
	<div class="resource flex-group-center">
		<label for="data.derived.fp.current" class="resource-label">{{localize 'FWO.ResourceAttachmentCoupons'}}</label>
		<div class="resource-content flexrow flex-center flex-between">
			<input type="text" name="data.coupons" value="{{data.coupons}}" data-dtype="Number"/>
		</div>
	</div>
	<div class="resource flex-group-center">
		<label for="data.fortune.current" class="resource-label">{{localize 'FWO.ResourceGMStamps'}}</label>
		<div class="resource-content flexrow flex-center flex-between">
			<input type="text" name="data.stamps" value="{{data.stamps}}" data-dtype="Number"/>
		</div>
	</div>
</div>