<table class="defense-table">
	<thead>
		<tr>
			<th>{{localize 'FWO.StatDefType'}}</th>
			<th>{{localize 'FWO.StatArmor'}}</th>
			<th>{{localize 'FWO.StatSkill'}}</th>
			<th>{{localize 'FWO.StatTrait'}}</th>
			<th>{{localize 'FWO.StatItem'}}</th>
			<th>{{localize 'FWO.StatMisc'}}</th>
			<th>{{localize 'FWO.StatTotal'}}</th>
		</tr>
	</thead>

	<tbody>
		{{#each data.defense as |defense id|}}
		<tr class="defense" data-defense="{{id}}">
			<td>
				<label for="data.defense.{{id}}.value" class="resource-label">{{defense.label}}</label>
			</td>
			<td>
				<input type="text" name="data.defense.{{id}}.armor" value="{{defense.armor}}" data-dtype="Number" />
			</td>
			<td>
				<input type="text" name="data.defense.{{id}}.skill" value="{{defense.skill}}" data-dtype="Number" />
			</td>
			<td>
				<input type="text" name="data.defense.{{id}}.trait" value="{{defense.trait}}" data-dtype="Number" />
			</td>
			<td>
				<input type="text" name="data.defense.{{id}}.item" value="{{defense.item}}" data-dtype="Number" />
			</td>
			<td>
				<input type="text" name="data.defense.{{id}}.misc" value="{{defense.misc}}" data-dtype="Number" />
			</td>
			<td>
				<input readonly type="text" name="data.defense.{{id}}.value" value="{{defense.value}}" data-dtype="Number" />
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>