<ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">Skills</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="skill"><i class="fas fa-plus"></i> Add Skill</a>
      </div>
    </li>
    {{#each skills as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
          <div class="item-image">
		    {{#if item.data.onCD}}
			  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            {{else}}
			  <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
			{{/if}}
          </div>
			{{#greaterThan item.data.skillLevel 1}}
			  <h4>{{item.name}} ({{item.data.skillLevel}})
			  {{#if item.data.onCD}}
			    <i class="fas fa-stopwatch"></i>
			  {{/if}}
			  </h4>
			{{else}}
			  <h4>{{item.name}}
			  {{#if item.data.onCD}}
			    <i class="fas fa-stopwatch"></i>
			  {{/if}}
			  </h4>
			{{/greaterThan}}

        </div>
        <div class="item-controls">
		  <a class="item-control item-cooldown" title="Toggle Cooldown"><i class="fas fa-stopwatch"></i></a>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
</ol>